body {
    background-color: bisque;

}

.calculator {
    width: 300px;
    height: 500px;
    background-color: #a7a7a7;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#result {
    padding: 1.6em;
    border-radius: 1em;
    width: 75%;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    width: 90%;
    height: 60px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    border: 0.5px solid#999;
    font-size: 25px;
    text-align: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-bottom: 1px solid#999;
    border-left:1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    
}

#clear {
    background-color: rbg(85 85 255);
    color: blue;
}